section {
  min-height : 100vh;
}

.wrap-login {
  width: 800px;
  height: 400px;
  top: 11em;
  left: 17em;
  position: absolute;
  .wrap-cover, .wrap-login__form {
    width: 47%;
    height: inherit;
    float:left;
    &::before , &::after {
      clear:both;
    }
  }
  .wrap-cover {
    // background-color : white;
    .wrap-cover__title {
      width: 350px;
      padding-right: 30px;
      h1 {
        margin-bottom: 10px;
      }
    }
    .wrap-cover__search {
      width: 100%;
      height: 100px;
      position: relative;
      padding: 20px 12px 12px 0;
    }
  }
  .wrap-login__form {
    background-color: white;
    border-radius: 3px;
    width: 45%;
    overflow: hidden;
    .wrap-login__form__header {
      width: 100%;
      height: 60px;
      padding-top: 17px;
      text-align: center;
      h4 {
        color:#444444;
        font-family: 'Open Sans';
      }
    }
    .form-login {
      width: 100%;
      padding: 15px 45px;
      height: 160px;
    }
    .wrap-otherauth {
      width: 100%;
      height: 150px;
    }
  }
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .showcase-bg {
    height: inherit;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.showcase-overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(0, 0, 0, .4);
}

.wrap-otherauth {
  padding: 15px 45px;
  text-align: center;
  .wrap-otherauth__title {
    margin-bottom: 12px;
    position:relative;
    span{
      color:#757575;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size:14px;
    }
  }
}

/* ---- login.html ------- */
// home page //
.homeWrapper {
  width: 1200px;
  margin: 0 auto;
}

.homeWrapper__leftMenu , .homeWrapper__rightMenu {
  float: left;
  margin-top: 50px;
  padding-top: 70px;
}

.homeWrapper__leftMenu {
  width: 800px;
  height: 100px;
}

.homeWrapper__rightMenu {
  min-width: 400px;
}

.feedWrapper {
  padding: 7px;
}

.feedHighlights {
  display: flex;
  justify-content: center;
  .feedHighlights--items {
    width: 50px;
    margin: 0 10px;
    height: 50px;
    background: red;
    border-radius: 100px;
  }
}

.feedCreateStatus {
  width: 100%;
  
}

.articleFeed {
  border: 1px solid #e6e6e6;
  background: #fff;
  overflow: hidden;
  max-width: 614px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 3px;
  .articleFeed__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    padding: 10px;
    .postFeed {
      display: flex;
      align-items: center;
      .postAvatar {
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px;
        font-size: 14px;
      }
    }
    .postReply {
      margin-right: 5px;
        .button--ghost {
          border: 2px solid #0084FF;
          padding: 5px 10px;
          background: transparent;
          border-radius: 5px;
          color: #0084FF;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          transition: .3s ease;
          &:hover, &:focus {
              color: white;
              transition: .3s ease;
          }
          &:focus {
          }
        }
    }
  }
}

.articleFeed__content {
  position: relative;
  .filterDown {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
    width: 100%;
    height: 100px;
  }
}

.imageFeedContent {
  overflow: hidden;
  width: 100%;
  height: 450px;
  img , video{
    width: 100%;
    height: auto;
  }
}
.postLove {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.articleFeed__footer {
  padding: 15px;
  .postDesc {
    margin-bottom: 15px;
    span {
      font-size: 13px;
      .postDescOwner {
        font-weight: bold;
      }
    }
  }
  .postCommentShow {
    border-left: 2px solid #e6e6e6;
    padding: 10px 15px;
    .postCommentShow__people {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .CommentAvatar {
        width: 25px;
        height: 25px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
        img {
          width: 100%;
          height: auto;
        }
      }
      span {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }
} 

.recomendWrapper {
  position: fixed;
  padding-top: 20px;
  .recomendWrapper__create {
    width: 100%;
  }
}

.recomendWrapper__friends {
  margin-top: 20px;
  h4 {
    color: #929292;
    margin-bottom: 15px;
  }
}
.friendStickProfile {
  margin: 15px 0;
  display: flex;
  align-items: center;
.friendStickProfile__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  img {
    width: 100%;
    height: auto;
  }
}
}
.friendStickProfile__title {
  span {
    font-size: 12px;
    color: #929292;
  }
}

.recommendFriends__content {
  max-height: 200px;
  overflow: auto;
}

// profile 
.homeWrapper--profile {
  width: 100%;
  padding: 60px 100px;
}

.bgCoverProfile {
  width: inherit;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.filterDown {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
  width: 100%;
  height: 250px;
}

.profileAvatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 70px;
  left: 44%;
  img {
    width: 100%;
    height: auto;
  }
}

.homeWrapper--profile__content {
  padding: 20px;
  background: white;
  border: 1px solid #e6e6e6;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
}

.usernameProfile {
  font-size: 18px;
  color: #7b7b7b;
}

.bioProfile {
  margin-top: 5px;
  color: #929292;
}

.socialProfile {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: #929292;
  p {
    margin: 0 5px;
    font-weight: bold;
  }
  .socialProfile__facebook a{
    color: #5EACF3;
  }
  .socialProfile__instagram a{
    color: #F44646;
  }
}

.editProfileWrapper {
  margin: 30px 0 20px;
}

.homeWrapper--profile__footer {
  @extend .homeWrapper--profile__content;
  border-top: 0;
  text-align: left;
}

.postProfileFeed__content {
  margin-left: 15px;
}

.postProfileFeed__header {
  padding-bottom: 20px;
}

.postProfileFeed--items {
  display: flex;
  margin-bottom: 30px;
  .postProfileFeedItems--avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .postProfileFeedItems--content{
    margin-left: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    .postProfileFeedItems--images {
      width: 400px;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.postProfileFeedItems--desc {
  padding: 10px;
  font-size: 14px;
  width: 385px;
}

// edit profile //
.profileSettingWrapper {
  padding-left: 80px;
  padding-right: 60px;
  .profileSettingWrapper__content {

    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background: white;
  }
}

.barProfileSettingWrapper {
  @extend .recomendWrapper;
}

.profileSettingHeader__images {
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
  background-color: #eee;
  background-image: url('assets/images/bg4.jpg');
}

.profileSettingHeaderImages__header-upload {
  width: 100%;
  height: 50px;
  top: 0;
  position: absolute;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  h4 {
    color: white;
  }
}
.coverEditButtonWrapper {
  display: flex;
  input {
    width: 80px;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #0084FF;
}
.inputfile + label + svg {
  fill: white;
}
.inputfile + label {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 5px 10px;
}

.changeImagebutton {
  position: absolute;
}

.profileSettting__content {
  padding: 20px;
  border-top: 1px solid #e6e6e6;
}

.settingGroup {
  display: table;
  margin-bottom: 30px;
  .settingGroup__label {
    font-weight: bold;
    display: table-cell;
    padding: 0 10px;
    vertical-align: top;
    width: 145px;
    h4 {
      color: #444444;      
    }
  }
  .settingGroup__input {
    padding: 0 20px;
  }
}
.replyInputWrapper {
  margin-top: 20px;
}
.replyInputWrapper__core {
  padding: 10px 15px;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  outline: none;
  color: #999;
  border-radius: 3px;
  width: 100%;
  &:focus{
    background: white;
  }
}