.bigheading , .heading , .subheading {
  color: white;
}

.bigheading {
  font-size: 44px;
}

.heading {
  font-size: 32px;
}

.subheading {
  font-size: 14px;
  line-height: 1.25em;
  color: #e4e4e4;
  font-family: 'Open Sans';
  font-weight: 600;
}
