button {
  outline: none;
  cursor: pointer;
}

.button {
  border:none;
  border-radius: 3px;
  cursor: pointer;
  font-weight:500;
  outline: none;
}

.regis-button {
  width: 100%;
  padding: 10px 15px;
  background-color: #a226de;
  background-image: linear-gradient(40deg, #a226de 70%, #FA709A 100%);
  color: white;
}

.login-button {
  width: 100%;
  padding: 12px 15px;
  background-color: #a226de;
  background-image: linear-gradient(40deg, #a226de 70%, #FA709A 100%);
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.red-ghost {
  @extend .button--ghost;
  &:hover {
    background: #F44646!important;
    color: white!important;
  }
  &:focus{
    background: #cc3c3c!important;
    color: white!important;
  }
}

.google-button{
  background: #4285f4!important;
  position: relative;
  span{
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 3px;
    background-color: white;
    padding: 2.5px 3px;
  }
  // &::before {
  //   width: 30px;
  //   height: 30px;
  //   background-color: white;
  //   bottom: 7px;
  //   left: 10px;
  //   position: absolute;
  //   content:'';
  // }
}


//home //
.button-blue {
  padding: 10px 50px;
  background: #0084FF;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  transition: .3s ease;
  border: none;
  display: block;
  &:focus {
    background: #016dcc;
    transition: .3s ease; 
  }
}

.button-red {
  @extend .button-blue;
  background: #F44646;
  width: 100%;
  &:focus{
    background: #cc3c3c;
  }
}

.button-blue--small {
  @extend .button-blue;
  border: none;
  padding: 7px 15px!important;
}

.button-red--smalling {
  @extend .button-blue--small;
  color: #cc3c3c;
}

// profile 
.button--editProfile {
  padding: 10px 15px;
  border: 2px solid #929292;
  border-radius: 30px;
  background: transparent;
  color: #7b7b7b;
  text-align: center;
  font-weight: bold;
}

.changeImageCoverbutton {
  background: #FFF;
  border: none;
  color: #444;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  min-width: 69px;
}

.input--home-small {
  @extend .input--home;
  padding: 5px 15px;
  color: #444444!important;
}