button {
  outline: none;
}

.button {
  border:none;
  border-radius: 3px;
  cursor: pointer;
  font-weight:500;
  outline: none;
}

.regis-button {
  width: 100%;
  padding: 10px 15px;
  background-color: #a226de;
  background-image: linear-gradient(40deg, #a226de 70%, #FA709A 100%);
  color: white;
}

.login-button {
  width: 100%;
  padding: 12px 15px;
  background-color: #a226de;
  background-image: linear-gradient(40deg, #a226de 70%, #FA709A 100%);
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.google-button{
  background: #4285f4!important;
  position: relative;
  span{
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 3px;
    background-color: white;
    padding: 2.5px 3px;
  }
  // &::before {
  //   width: 30px;
  //   height: 30px;
  //   background-color: white;
  //   bottom: 7px;
  //   left: 10px;
  //   position: absolute;
  //   content:'';
  // }
}


//home //
.button-blue {
  padding: 10px 50px;
  background: #0084FF;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: .3s ease;
  &:focus {
    background: #016dcc;
    transition: .3s ease; 
  }
}

.button-blue--small {
  @extend .button-blue;
  border: none;
  padding: 7px 15px!important;
}